mentes/tabla.txt
mentes/highschore.txt
filehandler.c.save-failed
filehandler.h.save-failed
game.c.save-failed
game.h.save-failed
main.c.save-failed
menu.c.save-failed
menu.h.save-failed
push_tiles.c.save-failed
push_tiles.h.save-failed
style.c.save-failed
style.h.save-failed
bin/
obj/
mentes/